* {
  box-sizing: border-box;
}

#header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 2;
  padding: 10px; /* Adjust as needed */
  background-color: #9f8670;
}

.trolley-container {
  display: flex;
  align-items: center;
  position: relative; /* Make the container a positioned element */
}

.trolley {
  font-size: 20px;
  margin-right: 20px;
  color: #2860c1; /* Adjust the color as needed */
}

.cart-count {
  /* Add this style to initially hide the cart count */
  display: none;
  font-style: normal;
  background-color: #693910;
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  top: 5px;
  right: 25px;
}

/* hero */
.proTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 70vh;
  padding: 20px;
  background-color: #6d6a6aba;
}

.titleHero {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.titleHero img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.612);
}

.titleContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#expert {
  font-family: "mulish";
  font-weight: 500;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #165ac7;
  padding: 5px 20px;
  border-style: none;
  border-radius: 5px;
}
#expert:hover {
  text-decoration: none;
  background-color: #836d56;
  color: #ebebea;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.596);
  cursor: pointer;
}
#expert:active {
  box-shadow: none;
}

.titleContent h1 {
  text-align: center;
  font-size: 40px;
  color: #f2f2f2;
}

.titleContent p {
  text-align: center;
  margin: 10px 20px;
  color: #492907;
}

/* products:start */

/* Product Category Styles */

.proCategory {
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
}
.products {
  margin: 50px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.proContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buyBtn {
  display: flex;
  justify-content: center;

  margin: 20px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border-style: none;
  font-family: "mulish";
  font-weight: 500;
  background-color: #f2f2f2;
  color: #05307a;
  cursor: pointer;
}

.buyBtn:hover {
  text-decoration: none;
  background-color: #836d56;
  color: #ebebea;
  box-shadow: 2px 3px 6px #836d56;
  cursor: pointer;
}
.buyBtn:active {
  box-shadow: none;
}

.eachProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-container {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.image-container img {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 85%;
  object-fit: cover;
  filter: drop-shadow(2px 6px 4px rgba(0, 0, 0, 0.596));
}
.line {
  width: 80%; /* Set the width to 100% */
  display: block;

  height: 2px; /* Set the height to control the thickness of the line */
  background-color: #081f46; /* Set the color of the line (you can adjust this to your preference) */
  margin: 10px auto;
}
.add {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.add i {
  color: #165ac7;
  grid-column: 3;
  justify-content: center;
  place-self: center;
  filter: none;
  width: 30%;
}

.proContent h2 {
  font-size: 18px;
  margin-top: 10px;
}
.proContent p {
  font-size: 18px;
  color: #165ac7;
  display: flex;
  justify-content: center;
}
.price {
  text-align: center;
  margin: 0; /* Remove default margin */
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border-style: none;
  font-family: "mulish";
  font-weight: 500;
  color: #165ac7;
}
